<footer class="mt-10 app-footer">
    <div class="footer-item">
      <a routerLink="/solar-panels" class="footer-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/76066e7f65b73174a1272f285fe6b78ee306a82a?placeholderIfAbsent=true"
          alt="Home"
          class="footer-icon"
        />
        <span class="footer-text">Home</span>
      </a>
    </div>
    <div class="footer-item">
      <a routerLink="/owned-panels" class="footer-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/cffc2bc5bff733ca83cdf0ac48021bd8a380b91b?placeholderIfAbsent=true"
          alt="Add"
          class="footer-icon"
        />
        <span class="footer-text">Add</span>
      </a>
    </div>
    <div class="footer-item">
      <a class="footer-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/5f678b6b0ef5822be38d6e240dab1423e3d6727b?placeholderIfAbsent=true"
          alt="Chat"
          class="footer-icon"
        />
        <span class="footer-text">Chat</span>
      </a>
    </div>
    <div class="footer-item">
      <a  class="footer-link">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/1ae56b82db9e45c9e42d50e6ca7728baeaac5e48?placeholderIfAbsent=true"
          alt="Profile"
          class="footer-icon"
        />
        <span class="footer-text">Profile</span>
      </a>
    </div>
  </footer>